<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Missing Migrants Project</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" href="../static/favicon.ico">
<!-- Bootstrap -->
<link rel="stylesheet" href="../static/styles/vendor/bootstrap.min.css">
<!-- Fonts -->
<link rel="stylesheet" href="../static/fonts/et-lineicons/css/style.css">
<link rel="stylesheet" href="../static/fonts/linea-font/css/linea-font.css">
<link rel="stylesheet" href="../static/fonts/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/fonts/fontawesome/css/all.min.css">
<link rel="stylesheet" href="../static/fonts/fontawesome/css/solid.min.css">
<!-- Slider -->
<link rel="stylesheet" href="../static/styles/vendor/slick.css">
<!-- Lightbox -->
<link rel="stylesheet" href="../static/styles/vendor/magnific-popup.css">
<!-- Animate -->
<link rel="stylesheet" href="../static/styles/vendor/animate.css">
<!-- Animated Headings -->
<link rel="stylesheet" href="../static/styles/vendor/animated-heading.css">
<!-- App CSS -->
<link rel="stylesheet" href="../static/styles/main.css">
<link rel="stylesheet" href="../static/styles/responsive.css">
<!-- JS -->
<script src="../static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body id="page-top">
	<!-- preloader -->
  	<div class="preloader">
   		<img src="../static/images/loader.svg" alt="Loading...">
   	</div>
  	<!-- top navbar -->
    <nav class="navbar navbar-default navbar-fixed-top mega navbar-trans">
    	<div class="container">
        	<div class="navbar-header">
            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                	<span class="sr-only">Toggle navigation</span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
              	</button>
              	<!-- logo -->
              	<a class="navbar-brand" href="index.html"><img class="navbar-logo" src="../static/images/logo.png" alt="Missing Migrants Logo"></a>
            </div>
            <!-- navbar links -->
            <div id="navbar" class="navbar-collapse collapse">
            	<ul class="nav navbar-nav">
                	<!-- home -->
                	<li class="dropdown mega-fw">
                  		<a href="index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                  	</li>	
              	</ul>
              	<!-- navbar right -->
              	<ul class="nav navbar-nav navbar-right">
                	<!-- analysis -->
                	<li class="dropdown">
                  		<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Analysis <span class="caret"></span></a>
                  		<ul class="dropdown-menu bg-solid">
                    		<div class="row">
                      			<div class="col-lg-12">
                        			<li class="dropdown-header">Plots, Maps &amp; Analysis</li>
                        			<li role="separator" class="divider"></li>
                        			<li><a href="incidentmap.html">Incident Map</a></li>
                        			<li><a href="markermap.html">Marker Map</a></li>
                        			<li><a href="plots.html">Visualizations</a></li>
                        			<li><a href="predictions.html">Predictive Analysis</a></li>
                      			</div>
                      		</div>
                  		</ul>
                	</li>
                	<!-- data -->
                	<li class="dropdown">
                  		<a href="data.html">Data</a>
                	</li>
              	</ul>
            </div>
    	</div>
 	</nav>
	<!-- hero cover -->
	<div id="home" class="animated-hero">
    	<div class="bg-overlay">                 
        	<!-- hero content -->
          	<div class="hero-content-wrapper">
           		<div class="hero-content">
                	<h1 class="cd-headline slide hero-lead wow fadeIn" data-wow-duration="4s">
                  		<span class="cd-words-wrapper">
                    		<b class="is-visible">Global Call</b>
                    		<b>For Action</b>
                  		</span>
                	</h1>
                	<h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Data Tracking Along Global Migratory Routes</h4>
                	<a href="#about" class="btn btn-light wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Know More</a>
            	</div>
         	</div>
            <!-- scroller -->
            <a href="#about" class="scroller">
              	<span class="scroller-text">scroll down</span>
              	<span class="linea-basic-magic-mouse"></span>
            </a>
      	</div>
	</div>
  	<!-- about -->
	<section id="about" class="container">
		<div class="row section">
        	<header class="sec-heading">
              	<h2>About Missing Migrants</h2>
              	<span class="subheading">Examine Trends Along Migration Routes Across The Globe</span>
          	</header>
            <div class="col-md-offset-1 col-md-5">
           		<p>Whether it is in pursuit of new job opportunities, improving quality of life, or to seek asylum,
                	international migration has been on the rise. As a result, migration issues have attracted a
                    signifcant amount of political and media attention worldwide.
              	</p>
            </div>
            <div class="col-md-5">
              	<p>The Missing Migrants Project is an International Organization for Migration (IOM) initiative that
                    tracks the deaths of migrants and those who have gone missing during the course of migration.
                    The goal of the Missing Migrants Project is to provide a resource that can be utilized to help
                    inform and advocate for programs and policies designed to protect migrants as well as raise
                    awareness concerning potential humanitarian issues. The Missing Migrants Project is licensed under a Creative
                    Commons Attribution 4.0 International License. For more information please visit <a href="https://missingmigrants.iom.int">IOM.
              	</p>
            </div>
      	</div>
	</section>
	<!-- parallax number counter -->
   	<div class="number-counters">
    	<div class="container">
       		<div id="counters" class="row count-wrapper">
           		<!-- item 1 -->
              	<div class="col-md-3 mb-sm-100 count-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                	<span id="count-1" class="count-nbr">5</span>
                	<span class="count-text">Years Covered</span>
              	</div>
              	<!-- item 2 -->
              	<div class="col-md-3 mb-sm-100 count-item wow fadeIn" data-wow-duration="1s">
                	<span id="count-2" class="count-nbr">31,552</span>
                	<span class="count-text">Total Dead &amp; Missing</span>
              	</div>
              	<!-- item 3 -->
              	<div class="col-md-3 mb-sm-100 count-item wow fadeIn" data-wow-duration="1s">
                	<span id="count-3" class="count-nbr">47,642</span>
                	<span class="count-text">Survivors</span>
              	</div>
              	<!-- item 4 -->
              	<div class="col-md-3 count-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                	<span id="count-4" class="count-nbr">14</span>
                	<span class="count-text">Regions Covered</span>
              	</div>
            </div>
   		</div>
	</div>
   	<!-- regions -->
  	<section class="container section ft-centered">
    	<header class="sec-heading">
        	<h2>Global Regions & Hardships</h2>
            <span class="subheading">Dangers Facing Migrants In Different Regions</span>
      	</header>
       	<div class="row">
       		<ul class="t-clients clients-slider ws-m">
       			<!-- item 1 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s">
              		<span style="font-size: 3rem;"><i class="fas fa-thunderstorm"></i></span>
              		<h5>US Mexico Border</h5>
    			</div>
            	<!-- item 2 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s">
              		<span style="font-size: 3rem;"><i class="fas fa-clinic-medical"></i></span>
              		<h5>Sub Saharan Africa</h5>
          		</div>
            	<!-- item 3 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s">
              		<span style="font-size: 3rem;"><i class="fas fa-water"></i></span>
              		<h5>Southeast Asia</h5>
            	</div>
            	<!-- item 4 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s">
              		<span style="font-size: 3rem;"><i class="fas fa-water"></i></span>
              		<h5>Carribean</h5>
           		</div>
           		<!-- item 5 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s">
              		<span style="font-size: 3rem;"><i class="fas fa-bus"></i></span>
              		<h5>Central America</h5>
    			</div>
            	<!-- item 6 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s">
              		<span style="font-size: 3rem;"><i class="fas fa-bus"></i></span>
              		<h5>Central Asia</h5>
          		</div>
            	<!-- item 7 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s"  data-wow-delay=".3s">
              		<span style="font-size: 3rem;"><i class="fas fa-car"></i></span>
              		<h5>Europe</h5>
            	</div>
            	<!-- item 8 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s">
              		<span style="font-size: 3rem;"><i class="fas fa-clinic-medical"></i></span>
              		<h5>Horn Of Africa</h5>
           		</div>
           		<!-- item 9 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s">
              		<span style="font-size: 3rem;"><i class="fas fa-water"></i></span>
              		<h5>Mediterranean</h5>
    			</div>
            	<!-- item 10 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s">
              		<span style="font-size: 3rem;"><i class="fas fa-swords"></i></span>
              		<h5>Middle East</h5>
          		</div>
            	<!-- item 11 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s">
              		<span style="font-size: 3rem;"><i class="fas fa-clinic-medical"></i></span>
              		<h5>North Africa</h5>
            	</div>
            	<!-- item 12 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s">
              		<span style="font-size: 3rem;"><i class="fas fa-temperature-frigid"></i></span>
              		<h5>North America</h5>
           		</div>
           		<!-- item 13 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s"  data-wow-delay=".3s">
              		<span style="font-size: 3rem;"><i class="fas fa-car"></i></span>
              		<h5>South Asia</h5>
            	</div>
            	<!-- item 14 -->
            	<div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-material wow zoomIn" data-wow-duration=".6s">
              		<span style="font-size: 3rem;"><i class="fas fa-water"></i></span>
              		<h5>East Asia</h5>
           		</div>
            </ul>
      	</div>
   	</section>
   	<!-- joining -->
   	<div class="cta-newsletter cta-dark">
    	<div class="bg-overlay">
        	<div class="cta-wrapper">
           		<h3 class="cta-lead h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">Join To Help Migrants</h3>
           		<a href="#contact" class="btn btn-light wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Get Involved</a>
        	</div>
    	</div>
   	</div>
	<!-- footer -->
	<footer id="contact" class="footer-contact" style="display: block;">
    	<div class="container-fluid">
        	<div class="row">
              	<div id="contact" class="col-lg-6 no-gap" style="background-color: rgba(17, 17, 17, 0.93); height: 100%; padding-top: 160px; position: relative;">
                	<header class="sec-heading">
                  		<h2 style="color: #FFF;">Congressional Contacts</h2>
                  		<span class="subheading">Find Your Representatives To Take Action</span>
                	</header>
                	<address class="contact-info-wrapper">
                  		<ul style="list-style: none; width: 50%; padding-left: 175px; float: left;">
                    		<!-- office -->
                    		<li class="contact-group" style="display: block; margin-bottom: 30px; padding: 7px 0 7px 20px; border-left: 1px solid #ececec; display: block;">
                      			<span class="adr-heading" style="text-transform: uppercase; font-weight: bold; font-size: 14px; color:#fff;">US Senate</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">Mitch McConnell (R-KY)</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">Senate Majority Leader</span>
                    		</li>
                    		<!-- address -->
                    		<li class="contact-group" style="display: block; margin-bottom: 30px; padding: 7px 0 7px 20px; border-left: 1px solid #ececec; display: block;">
                      			<span class="adr-heading" style="text-transform: uppercase; font-weight: bold; font-size: bold; color:#fff;">Address</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">50 Constitution Ave NE</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">Washington, DC 20510</span>
                    		</li>
                    		<!-- website -->
                    		<li class="contact-group" style="display: block; margin-bottom: 30px; padding: 7px 0 7px 20px; border-left: 1px solid #ececec; display: block;">
                      			<span class="adr-heading" style="text-transform: uppercase; font-weight: bold; font-size: bold; color:#fff;">Website</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">https://www.senate.gov</span><br>
                    		</li>
                    		<!-- phone -->
                    		<li class="contact-group" style="display: block; margin-bottom: 30px; padding: 7px 0 7px 20px; border-left: 1px solid #ececec; display: block;">
                      			<span class="adr-heading" style="text-transform: uppercase; font-weight: bold; font-size: bold; color:#fff;">Phone</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">(202) 224-3121</span>
                    		</li>
                  		</ul>
                  		<ul style="list-style: none; width: 50%; float: right;">
                    		<!--office -->
                    		<li class="contact-group" style="display: block; margin-bottom: 30px; padding: 7px 0 7px 20px; border-left: 1px solid #ececec; display: block;">
                      			<span class="adr-heading" style="text-transform: uppercase; font-weight: bold; font-size: bold; color:#fff;">US House of Representatives</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">Nancy Pelosi (D-CA)</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">Speaker Of The House</span>
                    		</li>
                    		<!-- address -->
                    		<li class="contact-group"style="display: block; margin-bottom: 30px; padding: 7px 0 7px 20px; border-left: 1px solid #ececec; display: block;">
                      			<span class="adr-heading" style="text-transform: uppercase; font-weight: bold; font-size: bold; color:#fff;">Address</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">2436 Rayburn Hob</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">Washington, DC 20515</span>
                    		</li>
                    		<!-- website -->
                    		<li class="contact-group" style="display: block; margin-bottom: 30px; padding: 7px 0 7px 20px; border-left: 1px solid #ececec; display: block;">
                      			<span class="adr-heading" style="text-transform: uppercase; font-weight: bold; font-size: bold; color:#fff;">Website</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">https://www.house.gov</span>
                    		</li>
                    		<!-- phone -->
                    		<li class="contact-group" style="display: block; margin-bottom: 30px; padding: 7px 0 7px 20px; border-left: 1px solid #ececec; display: block;">
                      			<span class="adr-heading" style="text-transform: uppercase; font-weight: bold; font-size: bold; color:#fff;">Phone</span><br>
                      			<span class="adr-info" style="text-transform: uppercase; color:#fff;">(202) 224-3121</span>
                    		</li>
                  		</ul>
                	</address>
                	<a href="https://www.house.gov/representatives" class="btn btn-light" data-wow-duration="2s" data-wow-delay="1s" style="margin-left: 50%; margin-bottom: 25%;">Find Your Representative</a>
                	<br>
             	</div>
              	<!-- contact form -->
              	<div class="col-lg-6 no-gap section contact-form">
                	<header class="sec-heading">
                  		<h2>Contact</h2>
                  		<span class="subheading">Send Your Representative A Message</span>
                	</header>
                	<form method="POST" class="form-ajax wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                  		<!-- name -->
                  		<div class="form-group">
                    		<input type="text" name="name" id="name-contact-1" class="form-control validate-locally" placeholder="Enter Your Name">
                    		<label for="name-contact-1">Your Name</label>
                    		<span class="pull-right alert-error"></span>
                  		</div>
                  		<!-- sender email -->
                  		<div class="form-group">
                    		<input type="email" name="email" id="email-contact-1" class="form-control validate-locally" placeholder="Enter Your Email">
                    		<label for="email-contact-1">Your Email</label>
                    		<span class="pull-right alert-error"></span>
                  		</div>
                  		<!-- receiver email -->
                  		<div class="form-group">
                    		<input type="email" name="email" id="email-contact-2" class="form-control validate-locally" placeholder="Enter Receiver's Email">
                    		<label for="email-contact-2">Receiver's Email</label>
                    		<span class="pull-right alert-error"></span>
                  		</div>
                  		<!-- message -->
                  		<div class="form-group">
                    		<textarea class="form-control" name="message" id="message-contact-1" rows="5" placeholder="Your Message"></textarea>
                    		<label for="message-contact-1">Message</label>
                  		</div>
                  		<input type="submit" class="btn pull-right" value="Send Message">
                  		<!-- ajax message -->
                  		<div class="ajax-message col-md-12 no-gap"></div>
                	</form>
              	</div>
         	</div>
      	</div>
		<!-- social links -->
      	<div class="dark-bg">
          	<div class="container footer-social-links">
              	<div class="row">
                	<ul>
                  		<li><a href="https://www.iom.int">International Organization For Migration</a></li>
                  		<li><a href="https://www.un.org">United Nations</a></li>
                	</ul>
           		</div>
        	</div>
      	</div>
       	<!-- credits -->
    	<div class="copyright">
          	<div class="container">
              	<div class="row">
                	<div class="col-md-6">
                  		<small>Created by Cristy Brust, Hemani Choksi, Stefanie Kenyon, Olan Johnson and Ning Xie</small>
                	</div>
                	<div class="col-md-6">
                  		<small><a href="#page-top" class="pull-right to-the-top">To the top <i class="fa fa-angle-up"></i></a></small>
                	</div>
            	</div>
        	</div>
    	</div>
   	</footer>
	<!-- begin scripts -->
	<script src="../static/js/vendor/jquery-2.1.4.min.js"></script>
	<script src="../static/js/vendor/google-fonts.js"></script>
	<script src="../static/js/vendor/jquery.easing.js"></script>
	<script src="../static/js/vendor/jquery.waypoints.min.js"></script>
	<script src="../static/js/vendor/bootstrap.min.js"></script>
	<script src="../static/js/vendor/bootstrap-hover-dropdown.min.js"></script>
	<script src="../static/js/vendor/smoothscroll.js"></script>
	<script src="../static/js/vendor/jquery.localScroll.min.js"></script>
	<script src="../static/js/vendor/jquery.scrollTo.min.js"></script>
	<script src="../static/js/vendor/jquery.stellar.min.js"></script>
	<script src="../static/js/vendor/jquery.parallax.js"></script>
	<script src="../static/js/vendor/slick.min.js"></script>
	<script src="../static/js/vendor/jquery.easypiechart.min.js"></script>
	<script src="../static/js/vendor/countup.min.js"></script>
	<script src="../static/js/vendor/isotope.min.js"></script>
	<script src="../static/js/vendor/jquery.magnific-popup.min.js"></script>
	<script src="../static/js/vendor/wow.min.js"></script>
	<script src="../static/js/vendor/animated-heading.js"></script>
    <script src="../static/js/vendor/jquery.ajaxchimp.js"></script>
    <script src="../static/js/vendor/all.min.js"></script>
   	<!-- app js -->
	<script src="../static/js/main.js"></script>
</body>
</html>